.App {
    text-align: center;
}

.App-logo {
    height: 25vmin;
    pointer-events: none;
}

.App-header {
    background-color: #272B30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 1.5vmin);
    color: white;
    padding-top: 20px;
}

.App-link {
    color: #61dafb;
}

.error {
    color: red;
    font-weight: bold;
}