.app-container {
    padding: 0 10px;
    max-width: 500px;
    margin: 0 auto;
    align-self: center;
}
.app-Loading {
    margin: 0 auto;
}
.app-header {
    align-self: flex-start;
    background-color: #202226;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.app-header .btn {
    height: 50px;
}

.app-link {
    display: inline-block;
}

.logout-container {
    width: 85px;
    text-align: right;
}

.error {
    color: red;
    font-weight: bold;
}
